@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
#header{    
    border: 2px solid #083c02;
    background: whitesmoke;
    font-family: 'Open Sans', sans-serif;    
    text-align: center;
    width: 100%;
    margin-bottom: 1%;            
}

#contents{    
    border: 2px solid #083c02;    
    background: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    position:  absolute;
    right: 1%;
    left: 280px;
    top: 80px;       
    padding: 1%;
}

/* Base Styles */
/*--Menu start here--*/
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    position: relative;
}
#cssmenu a {
    line-height: 1.3;
}
#cssmenu {
    width: 250px;
}
#cssmenu > ul > li > a {
    padding-right: 40px;
    font-size: 25px;
    font-weight: bold;
    display: block;
    background: #083c02;
    color: #ffffff;
    border-bottom: 1px solid #000000;
    text-transform: uppercase;
}
#cssmenu > ul > li > a > span {
    background: #116f07;
    padding: 10px;
    display: block;
    font-size: 13px;
    font-weight: 300;
}
#cssmenu > ul > li > a:hover {
    text-decoration: none;
}
#cssmenu > ul > li.active {
    border-bottom: none;
}
#cssmenu > ul > li.active > a {
    color: #fff;
}
#cssmenu > ul > li.active > a span {
    background: #083c02;
}
#cssmenu span.cnt {
    position: absolute;
    top: 8px;
    right: 15px;
    padding: 0;
    margin: 0;
    background: none;
}
/* Sub menu */
#cssmenu ul ul {
    display: none;
}
#cssmenu ul ul li {
    border: 1px solid #e0e0e0;
    border-top: 0;
}
#cssmenu ul ul a {
    padding: 10px;
    display: block;
    color: #116f07;
    font-size: 13px;
}
#cssmenu ul ul a:hover {
    color: #083c02;
}
#cssmenu ul ul li.odd {
    background: #f4f4f4;
}
#cssmenu ul ul li.even {
    background: #fff;
}
/*--Menu ends here--*/

/*--footer start here--*/
.footer {
    border: 2px solid #083c02;
    background: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    position: absolute;   
    top: 90%;
    width: 98%;
    right: 1%;
    left: 1%;

}
.footer-main p {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    text-align: center;
}
.footer-main p a{
    font-size: 16px;
    font-weight: 400;
    color:#00aee1;
}
.footer-main p a:hover{
    text-decoration:none;
    color:#000;
}
@media (max-width:320px){
    .footer-main p {
        font-size: 14px;
    }
    .footer-main p a{
        font-size: 14px;
    }
}
/*--footer end here--*/
.tabela{
    border: 1px solid black;
    background: lavender;

}

.tabelaHeader{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: snow;
    background: teal;
}
.tabelaFooter{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: snow;
    background: teal;

}
.primeiraLinha{
    text-align: center;
    background: mediumturquoise;

}
